@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-in-out {
  animation: fade-in-out 3s ease-in-out forwards;
}

@keyframes shrink-width {
  0% {
    width: 100%;
    
  }
  100% {
    width: 0%;
    
  }
}


.liner-animate {
  animation: shrink-width 3s linear forwards ;
}

